
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div style="background-color: black; width: 100%; height: 20px;"></div>

    <div style="display: flex; padding: 0px; margin-top: 25px;">
        <p style="font-size: 25px; font-weight: 600; padding: 0px; margin: 0px;">
            {{userFirstName}}!
        </p>    
    </div>

    <div style="display: flex; flex-direction: row; align-items: center; margin-top: 25px;">
        <div style="padding: 10px; padding-left: 0px; margin: 0px;">
            A password request was made to this email. If this wasn't you, simply ignore this email.
        </div>
        <a href="{{domain}}/accounts/password-reset/{{uidb64}}/{{resetToken}}/" style="color: white; text-decoration: none;">
            <div style="background-color: #27AAE1; padding: 10px; border-radius: 10px; cursor: pointer;">
                Click here to reset your password
            </div>
        </a>
    </div>
    <div style="background-color: #27AAE1; width: 100%; height: 20px; margin-top: 30px;">
    </div>
    
</body>
</html>